body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.flex {
    display: flex;
}

.container {
    width: 375px;
    margin: 0 auto 20px auto;
}

#container {
    margin-bottom: 0;
}

.navbar {
    justify-content: space-between;
    border-bottom: 1px solid #C6C6C6;
}

.navbar-img {
    display: block;
    align-self: center;
}

.logo-img {
    width: 130px;
}

.main {
    flex-direction: column;
    justify-content: space-between;
}

.card {
    margin-top: 0;
    padding: 5px 0;
    background-color: white;
}

.user-img {
    border-radius: 50%;
    width: 34px;
    height: 34px;
}

.user-info {
    padding: 5px;
    margin: 0;
}

.user-info  p {
    margin: 0 10px;
    font-size: small;
}

.user-name {
    font-weight: 700;
}

.post {
    margin: 0;
}

.like-comment-share {
    margin: 5px auto;
}

.icon {
    width: 22.5px;
    height: 22.5px;
    margin: 0 5px;
}

.likes {
    font-weight: 700;
    font-size: small;
    margin: 2px 5px;
}

.comment {
    font-weight: 400;
}

.comment-msg {
    margin-left: 0;
    font-weight: 400;
}